body {
  width: 33%;
}

#res {
  background-color: lightgray;
  border: inset;
  height: 48px;
  font-size: 22px;
  width: 74%;
}

.buttonContainer {
  width: 75%;
}

#btnClr,
#btnEql {
  background-color: rgb(0, 81, 255);
  color: white;
}

#btnSum,
#btnSub,
#btnMul,
#btnDiv {
  background-color: rgb(255, 153, 0);
  color: white;
}

.buttonClass {
  width: 25%;
  height: 3rem;
  font-size: 18px;
  float: left;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
